@charset "UTF-8";

header, header > nav{
    flex-flow: column nowrap;
}

header h1 {
    flex-basis: 50px;
}

nav a {
    width: 90vw;
    margin: 5px;
    border-radius: 0px;
    text-align: center;
}

main {
    width: 98vw;
}